USE [master]
GO
/****** Object:  Database [УчебнаяСидоренко]    Script Date: 26.04.2025 4:05:02 ******/
CREATE DATABASE [УчебнаяСидоренко]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчебнаяСидоренко', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяСидоренко.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'УчебнаяСидоренко_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяСидоренко_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчебнаяСидоренко].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчебнаяСидоренко]
GO
/****** Object:  Table [dbo].[академики]    Script Date: 26.04.2025 4:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[академики](
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Дата_рождения] [nvarchar](255) NULL,
	[Специализация] [nvarchar](255) NULL,
	[Год_присвоения_звания] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Лист1]    Script Date: 26.04.2025 4:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лист1](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Аничков', N'Николай', N'Николаевич', N'1885-11-03', N'медицина', 1939)
INSERT [dbo].[академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Бартольд', N'Василий', N'Владимирович', N'1869-11-15', N'историк', 1913)
INSERT [dbo].[академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Белопольский', N'Аристарх', N'Аполлонович', N'1854-07-13', N'астрофизик', 1903)
GO
INSERT [dbo].[Лист1] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Лист1] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Лист1] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Албания', N'Тирана', 28748, 2866026, N'Европа')
GO
USE [master]
GO
